rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Default to denying all reads and writes from the client,
    // as storage is not currently used by the app.
    // This is the most secure default.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
